/*웹폰트 가져오시_눈누난나_한둥근돋움*/
@font-face { 
    font-family: 'WONDotum'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

body {

	line-height: 1.2;
    background: #ffffff url('../image/logincover.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

#login-section1 { 
    font-family: 'WONDotum';
    color: #f8f7f4;
    width: 100%; 
    height: 100%;
    padding: 10% 0 10% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% right;
    text-align: center;
    position: relative;
    z-index: 9999;
}

#login-section1 .button.alt { /*소셜_네이버 로그인 버튼 코드*/
    background-color: transparent;
    box-shadow: inset 0 0 0 2px ;
    color: #ffffff !important;
}


.button { /*소셜로그인 버튼 테두리 네모 코드*/
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'WONDotum';
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    width: 30%;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#login-section1 .head-container h2{
    color: #FFFFFF;
    font-family: 'IBM Plex Mono', monospace;
}

.head-container {
    width: 100%; 
    height: 100%;
}

