
@font-face { 
    font-family: 'WONDotum'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'yg-jalnan'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'BBTreeGR'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

.navbar_top{
    background: rgb(86, 128, 56);
    height: 4em;
    width: 100%;
}
.navbar_top .navbar-title{
    font-family: 'yg-jalnan';
    font-size: 1.5em;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    color: white;
    text-transform: none;
    padding: 0;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
}
.navbar_top .btn-light{
    font-family: 'yg-jalnan';
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}
.top{
    height: 70px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#imgLogo{
    width: 50px;
    margin-top: 10px;
    margin-left: 0px;
}
.top.top-left{
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}
.top.top-center{
    text-align: center;
    flex: 1;
    padding-right: 0px;
    padding-left: 0px;
}
.pagename{
    font-family: 'yg-jalnan';
    font-size: 4em;
    font-weight: bold;
}

.top.top-right{
    flex: 1;
}

header.masthead {
    color: #f8f7f4;
    padding-top:3em;
    padding-bottom: 40em;
    background-color: #0c0c0c;
    background: url("../image/homeback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% right;
    text-align: right;
    position: relative;
    z-index: 9999;
/*
    position: relative;
    background-color:rgb(86, 128, 56);
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;*/
}

header.masthead .overlay {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    header.masthead h1 {
        font-family: 'yg-jalnan';
        font-size: 3rem;
        color: rgb(86, 128, 56);
    }
}
#folderinsert::placeholder{
    color:white;
    font-family: 'BBTreeGR';
}

.btn-block{
    display:block;
    width:100%;
    font-family: 'yg-jalnan'
}

.row{
    margin-right: 30px;
    margin-left: 30px;
    content: " ";
}

.col-xs-3{
    width:25%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-6 .col-xs-3{
    float: left;
}

.col-md-3, .col-sm-3, .col-xs-6, .col-xs-3, col-md-6, col-sm-6, col-xs-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left:15px;
    padding-bottom:50px;
}

.modal{
    z-index: 99999;
}

.relogin{
    color: #f8f7f4;
    background-color: #0c0c0c;
    background: url("../image/homeback2.png");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 350px;
}
.relogin_message{
    margin-top: 200px;
    font-family: 'yg-jalnan';
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    color:red;
}

.message .go{
    margin-left: 40%;
}
.btn-outline-danger{
    text-align: center;
    display: block;
    width:30%;
    font-family: 'yg-jalnan'
}
