/*웹폰트 가져오시_눈누난나_한둥근돋움*/
@font-face { 
    font-family: 'WONDotum'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONDotum.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}


/* Header */
body {
    position: relative;
    padding-top: 5em;
}

#header {
    background: #1c1c1c;
    color: #d5d5d5;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .inner {
        font-family: 'IBM Plex Mono', monospace;
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
}

 #header .logo {
        font-family: 'IBM Plex Mono', monospace;
        display: inline-block;
        height: inherit;
        left: 0;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        color: #FF8847;
        font-size: 1.75em;
        text-transform: none;
        font-weight: normal;
        padding: 0;
}

/* Banner */
#banner {
    background-color: #FF8847;
    color: #f8f7f4;
    padding: 7em 0 11em 0;
    background-color: #0c0c0c;
    background-image: url(../image/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% right;
    text-align: right;
    position: relative;
    z-index: 9999;
}

#banner .button.alt { /*GET START버튼 코드*/
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #ffffff !important;
}

.button { /*GET START버튼 테두리 네모 코드*/
    -webkit-appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'WONDotum';
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}


#banner:after { /*배너사진 밝기 낮추는 코드*/
    -moz-transition: opacity 4s ease;
    -webkit-transition: opacity 4s ease;
    -ms-transition: opacity 4s ease;
    transition: opacity 4s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    opacity: 0.25;
}
#banner .inner { /*배너사진안에 글씨를 위치시킨다*/
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    line-height: 1.5;
}

#banner h1 { /*배너사진안에 h1태그를 꾸미는 css*/
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 8px;
    font-weight: 700;
}

#banner h3 { /*배너사진안에 h3태그를 꾸미는 css*/
    font-size: 1.5em;
    font-family: 'IBM Plex Mono', monospace;
    color: #FF8847;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 400;
} 


/* Section1 */


#section1 { 
    font-family: 'WONDotum';
    background-color: #FF8847;
    color: #f8f7f4;
    padding: 5em 0 6em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% right;
    text-align: center;
    position: relative;
    z-index: 9999;
}

#section1 .container { /*section1의 밑줄을 긋기 위해 container 생성*/
    width: 800px;
    padding-bottom: 1em; /*section1의 밑줄과 아래의 글씨와의 간격*/
}

#section1 .container h3 {
    font-size: 1em;
    color: black;
    font-weight: bold;
}

#section1 h3 {
    font-size: 1em;
    color: black;
}

#section1 h1 {
    font-family: 'Lilita One', cursive;
    font-size: 3em;
    border-bottom: 3px solid #FFD575;
    border-width: 50%;
}

#section1 .service-text {
    font-family: 'WONDotum';
}

#section1 .service-text h3 {
    font-weight: bold;
}

#section1 .service-text-korean {
    color: #0c0c0c
}

#section1 .big-container {
    display: flex;   
    max-width: 1000px;
    margin: auto; 
}

#section1 .container-icon {
    flex:1;
    padding-left: 20px;
    padding-right: 20px;
}

#section1 .service-icon {
    font-size: 4em;
}





/* Footer */

#footer {
    background-color: black;
    color: #FFD575;
    padding: 4em 0 2em 0;
    background: black;
}

#footer h2 {
    font-family: 'IBM Plex Mono', monospace;
}

#footer .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
}

#footer .copyright {
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
}





